@import "tailwindcss";

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}





